extends layout

block content
  h1 WhatNext ?
  p.lead An open platform for interaction between students, faculty, and alumni.
  hr
  .row
    .col-sm-6
      h2 Institutions
      p Institutions raked up according to their ranks. The right place to look up if you have the course in hand and you are about to choose the best in the field.
      p 
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Alumni
      p Alumni listed based on their credits, you can also add this filter with the institution filter.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Faculty
      p Get to know the current scenario from the pro's and decide about the foreseeable future lying ahead you at this place.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Locality
      p U have got to be kidding if this isnt set as a filter, populating a list of colleges which are out of reach is frustrating.
      p
        a.btn.btn-default(href='#', role='button') View details »