extends layout

block content
  h1 WhatNext ?
  p.lead An open platform for interaction between students, faculty, and alumni.
  hr
  .row
    .col-sm-6
      h2 Institutions
      p .
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Alumni
      p .
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Faculty
      p .
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Locality
      p .
      p
        a.btn.btn-default(href='#', role='button') View details »